@import "tailwindcss";


.wrapper {
  height: 100%;
  display: flex;
  flex-flow: column;
}

body {
  overflow: hidden;
}

.header {
  flex: 0 1 auto;
}

.main {
  flex: 1 1 auto;
}

* {
  user-select: none;
}
