name: CI/CD Bucket

on:
  push:
    branches: [release]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.4.0

      - name: Install Node.js
        uses: actions/setup-node@v3.0.0
        with:
          node-version: 14.x

      - name: Cache node modules
        uses: actions/cache@v2.1.7
        with:
          path: node_modules
          key: ${{ runner.OS }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-

      - name: Install npm dependencies
        run: yarn

      - name: Run build task
        run: yarn generate

      - uses: actions/upload-artifact@v3
        with:
          name: make artifact
          path: dist
